@import 'tailwindcss';


@theme{
    
    --font-*: initial;
    --font-sans: "Lato", "Karla", sans-serif;
    --font-primary: "Lato", sans-serif;
    --font-secondary: "Karla", sans-serif;

    /* Color Palette */
    --color-russianviolet: #462255ff;
    --color-icablue: #8cebe8ff;
    
    --color-jordyblue: #8cbeebff;


    --color-delftblue: #313B72ff;
    --color-delftblue-100: #edeff7;
    --color-delftblue-200: #c9cee8;
    --color-delftblue-300: #a6aed9;
    --color-delftblue-400: #828dc9;
    --color-delftblue-500: #5e6dba;
    --color-delftblue-600: #4553a1;
    --color-delftblue-700: #36417d;
    --color-delftblue-800: #262e59;
    --color-delftblue-900: #171c36;


    --color-aquamarine: #8cebb9ff;

    --color-aquamarine-100: #e9fbf2;
    --color-aquamarine-200: #bef4d7;
    --color-aquamarine-300: #92ecbd;
    --color-aquamarine-400: #67e5a2;
    --color-aquamarine-500: #3cdd88;
    --color-aquamarine-600: #22c36f;
    --color-aquamarine-700: #1a9856;
    --color-aquamarine-800: #136d3d;
    --color-aquamarine-900: #0b4125;

}